/* CSS Document */
@font-face {
  font-family: 'Helvetica Neue Bold', sans-serif;
  src: url("fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("fonts/HelveticaNeueLTStd-Bd.svg#hallmark-icons") format("svg");
  font-weight: 600; }
@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  src: url("fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("fonts/HelveticaNeueLTStd-Roman.svg#hallmark-icons") format("svg");
  font-weight: 400; }
@font-face {
  font-family: 'Helvetica Neue Thin', sans-serif;
  src: url("fonts/HelveticaNeueLTStd-Th.eot");
  src: url("fonts/HelveticaNeueLTStd-Th.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTStd-Th.woff") format("woff"), url("fonts/HelveticaNeueLTStd-Th.ttf") format("truetype"), url("fonts/HelveticaNeueLTStd-Th.svg#hallmark-icons") format("svg");
  font-weight: 100; }
@font-face {
  font-family: 'Helvetica Neue Light', sans-serif;
  src: url("fonts/HelveticaNeueLTStd-Lt.eot");
  src: url("fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("fonts/HelveticaNeueLTStd-Lt.svg#hallmark-icons") format("svg");
  font-weight: 100; }
/*
!* Breakpoints *!
$mobile-size: 749px;
$tablet-size: 750px;
$desktop-size: 1100px;

$mobile: new-breakpoint(max-width $mobile-size);
$tablet: new-breakpoint(min-width $tablet-size max-width $desktop-size);
$desktop: new-breakpoint(min-width $desktop-size);



// Media Queries
@mixin mobile {
  @media (max-width: $mobile-size) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-size) {
    @content;
  }
}
*/
body {
  font-family: 'Helvetica Neue Thin', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  /*letter-spacing: 1px;*/
  background-color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue Thin', sans-serif;
  font-weight: 100;
  color: #ccc; }

#brother-header .brother-header-top {
  padding: 0; }
#brother-header .brother-header-top {
  background: #07289d !important;
  background: linear-gradient(90deg, #07289d 0, #071b69) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07289d',endColorstr='#071b69',GradientType=1); }
@media (max-width: 992px) {
  #brother-header .bro-lft {
    text-align: center;
    margin: 0;
    padding: 0; } }
#brother-header .bro-rgt {
  padding-right: 50px; }
  @media (max-width: 992px) {
    #brother-header .bro-rgt {
      display: none; } }

.title-bar .title-bar-title {
  color: #fff;
  font-family: HelveticaNeue75Bold !important;
  margin-top: 5px; }

.title-bar .title-col {
  float: right; }

.title-bar .logo-col {
  float: left;
  margin-left: 0.25rem; }

.title-bar .search-col {
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.brother-header-image {
  padding-top: 16px; }

.brother-header-menu {
  background-color: #fff;
  padding-top: 5px;
  border-bottom: 1px solid #b7b7b7; }

.brother-header-menu .main-nav {
  font-family: HelveticaNeue45Light !important;
  font-size: 16px;
  text-align: center;
  color: #484848;
  display: inline-block; }

.brother-header-menu .main-nav li a {
  color: #484848;
  padding: .7rem .8rem;
  line-height: 18px; }

.brother-header-menu .main-nav li a.active, .brother-header-menu .main-nav li a:hover {
  color: #3a58d7;
  background: none; }

.brother-header-menu .blue-bar .social-icons {
  float: right;
  margin-top: 10px; }

.brother-header-menu .blue-bar .social-icons-mobile {
  margin-top: 10px;
  margin-bottom: 5px; }

.brother-footer-top {
  background-color: #e6e6e6;
  font-family: HelveticaNeue55Roman !important;
  font-size: 16px;
  color: #484848; }

.brother-footer-top a {
  color: #484848; }

.brother-footer-menu {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px; }

.brother-footer-menu .menu {
  font-family: HelveticaNeue45Light !important;
  font-size: 16px;
  line-height: 16px;
  color: #484848;
  text-align: center;
  display: inline-block; }

.brother-footer-menu .menu li a {
  color: #484848;
  padding: .7rem .8rem;
  line-height: 18px; }

.brother-footer-menu .menu li a.active, .brother-footer-menu .menu li a:hover {
  color: #3a58d7;
  background: none; }

.brother-footer-copyright {
  padding: 30px; }

.brother-footer-top-menu {
  padding: 0 20px 20px; }

.brother-logo-header {
  padding: 10px 0 10px 60px; }
  @media (max-width: 992px) {
    .brother-logo-header {
      padding: 10px 0 10px 0; } }

.brother-region {
  /*float: right;*/
  width: 150px;
  font-family: arial,helvetica,"sans-serif";
  font-size: 11px;
  color: #fff;
  line-height: 1;
  padding-top: 12px;
  padding-bottom: 5px; }

.brother-region span {
  color: #fff; }

.brother-region .region {
  padding-right: 7px;
  font-weight: 700; }

.brother-region a {
  font-size: 10px;
  padding-left: 7px;
  font-wight: normal; }

.brother-region a:active, .brother-region a:hover, .brother-region a:visited {
  color: #fff; }

.globalHeaderSearch {
  width: 150px;
  padding: 0;
  margin: 0;
  /*float: right;*/
  border: none;
  outline: none; }

.globalHeaderSearchInput {
  background: url(http://brotherdtg.com/assets/img/input_off.gif) no-repeat;
  border: none; }

.globalHeaderSearchInput, .globalHeaderSearchInput:focus {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 17px;
  font-size: 11px; }

.globalHeaderSearchInput:focus {
  border: 0;
  box-shadow: none;
  background: url(http://brotherdtg.com/assets/img/input_on.gif) no-repeat;
  border: none; }

#searchBtn4 {
  position: relative;
  top: -17px;
  left: 120px;
  width: 30px;
  height: 15px;
  background: none;
  background-color: transparent; }

#globalSearchForm, #searchBtn4 {
  border: none;
  padding: 0;
  margin: 0; }

#globalSearchForm {
  height: 17px; }

.brother-header-menu {
  padding-top: 0 !important;
  background-color: #000 !important;
  border-bottom: none !important; }

/*
@include media($tablet) {
}
@include media($mobile) {
}*/
/*div .non {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include breakpoint(sm) {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}*/
.container {
  /*@include breakpoint(sm) {
    margin: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }*/ }
  .container.gtx {
    position: relative; }
    .container.gtx .hamburger {
      position: absolute;
      color: #ccc;
      top: 10px;
      right: 20px;
      font-size: 22px;
      z-index: 999;
      display: none; }
      .container.gtx .hamburger a {
        color: #ccc; }
      @media (max-width: 992px) {
        .container.gtx .hamburger {
          display: block; } }
  @media (max-width: 768px) {
    .container {
      margin: 0;
      padding-left: 0 !important;
      padding-right: 0 !important; } }

.but {
  background: url("../images/button.jpg") no-repeat;
  background-size: 286px 85px;
  width: 286px;
  height: 85px;
  /*margin: 0 auto;*/
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding: 0 20px;
  /*margin-top: 30px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*&:after {
    content: ' >';
  }*/ }
  @media (max-width: 992px) {
    .but {
      background-size: 226px 68px;
      width: 226px;
      height: 68px;
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto;
      text-align: left; } }
  .but a, .but a:hover {
    color: #fff; }
  .but i {
    font-size: 14px; }

.but-red {
  background: url("../images/but-connect.jpg") no-repeat;
  background-size: 411px 75px;
  width: 411px;
  height: 75px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  padding: 0 20px;
  /*text-align: left;*/
  /*margin-top: 30px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*&:after {
    content: ' >';
  }*/ }
  @media (max-width: 992px) {
    .but-red {
      background-size: 226px 68px;
      width: 226px;
      height: 68px;
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto 30px;
      text-align: left; } }
  .but-red a, .but-red a:hover {
    color: #fff; }
  .but-red i {
    font-size: 14px; }

ul.inline {
  list-style: none;
  margin: 0 auto;
  /*margin: 0;*/
  padding: 0; }
  @media (max-width: 992px) {
    ul.inline {
      /*width: 90%;*/
      display: flex;
      /*flex-wrap: nowrap;*/
      justify-content: center; } }
  ul.inline li {
    display: inline-block;
    margin: 0;
    padding: 0; }
    @media (max-width: 992px) {
      ul.inline li {
        /*width: 90%;*/
        /*display: block;*/
        margin: 0 auto;
        text-align: center; } }

.upper {
  text-transform: uppercase; }

header {
  background: url("../images/int-hea-bak.jpg") no-repeat center center;
  height: 124px;
  text-align: center;
  padding-top: 43px; }

#hero {
  text-align: center;
  background: url("../images/hero-bak-60.jpg");
  /*background-size: cover;*/
  /*background-image: url('../images/hero-bak-60.jpg');*/
  background-color: #000;
  color: #fff;
  height: 553px;
  padding: 50px; }
  @media (max-width: 992px) {
    #hero {
      /*width: 100%;*/
      /*height: auto;*/ } }
  #hero h1 {
    /*font-family: 'Helvetica Neue Thin', sans-serif;
    font-weight: 100;*/
    font-size: 26px;
    line-height: 32px;
    /*letter-spacing: 1px;
    font-weight: normal;*/
    margin: 40px 0 50px;
    padding: 0; }
    #hero h1 strong {
      font-family: 'Helvetica Neue Bold', sans-serif; }
  #hero img {
    /*max-width: 713px;*/ }

#hero-int {
  text-align: center;
  background: url("../images/int-hero-bak.jpg") no-repeat center center;
  /*background-size: cover;*/
  /*background-image: url('../images/hero-bak-60.jpg');*/
  background-color: #000;
  color: #fff;
  height: 610px;
  /*padding: 50px;*/ }
  @media (max-width: 768px) {
    #hero-int {
      height: auto; } }
  @media (max-width: 992px) {
    #hero-int {
      /*width: 100%;
      height: auto;*/ } }
  #hero-int h1 {
    /*font-family: 'Helvetica Neue Thin', sans-serif;
    font-weight: 100;*/
    font-size: 26px;
    line-height: 32px;
    /*letter-spacing: 1px;
    font-weight: normal;*/
    padding: 55px 0 50px;
    margin: 0;
    /* padding: 0;*/ }
    #hero-int h1 strong {
      font-family: 'Helvetica Neue Bold', sans-serif; }
    @media (max-width: 992px) {
      #hero-int h1 {
        font-size: 22px;
        line-height: 28px;
        padding: 35px 20px 30px 20px; } }
  #hero-int img {
    /*max-width: 713px;*/
    margin-bottom: 44px; }
    @media (max-width: 992px) {
      #hero-int img {
        padding: 0 25px; } }

nav.home {
  background: url("../images/nav-bak-60.jpg") no-repeat center center;
  /*background-size: cover;*/
  font-size: 18px;
  /*font-weight: 300;*/
  text-align: center;
  height: 115px;
  background-color: #000;
  border-top: 1px solid #4d4d4d;
  /* @include breakpoint(sm) {
     display: none;
   }*/ }
  @media (max-width: 992px) {
    nav.home {
      display: none; } }
  nav.home ul {
    list-style: none;
    margin: 0 auto;
    /*padding: 20px 0;*/
    padding: 0;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    align-items: flex-end;
    width: 1000px;
    height: 115px; }
    @media (max-width: 992px) {
      nav.home ul {
        /*width: 100%;
        flex-direction: column;
        align-items: center;*/ } }
    nav.home ul li {
      display: inline;
      margin: 0;
      /*padding: 0;*/
      /*padding: 0 35px;
      padding: 15px 35px;*/
      /*width: 25%;*/ }
      nav.home ul li .ico-benefits {
        max-width: 35px; }
      nav.home ul li .ico-tech {
        max-width: 55px; }
      nav.home ul li .ico-multimedia {
        max-width: 40px; }
      nav.home ul li .ico-region {
        max-width: 43px; }
      nav.home ul li a {
        color: #ccc; }
        nav.home ul li a:hover {
          color: #fff; }
      nav.home ul li span {
        /*border-right: 1px solid #ccc;
        padding: 20px;*/
        display: inline-block;
        padding: 15px 35px;
        /*border-right: 1px solid #ccc;*/ }
        nav.home ul li span.hr {
          border-right: 1px solid #676767;
          /*padding: 15px 0;*/ }

nav.inside {
  background: #2a2929;
  height: 44px;
  text-align: center;
  font-size: 17px;
  margin-top: 2px;
  margin-bottom: 2px; }
  @media (max-width: 992px) {
    nav.inside {
      display: none; } }
  nav.inside li {
    padding: 10px 22px; }
    nav.inside li a {
      color: #ccc; }
    nav.inside li.active {
      background: #3a3a3a; }

nav.mobile {
  position: absolute;
  background: #2a2929;
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  z-index: 99;
  display: none; }
  @media (max-width: 992px) {
    nav.mobile {
      /*display: block;*/ } }
  nav.mobile ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav.mobile li {
    padding: 20px 22px;
    border-bottom: 1px solid #626262; }
    nav.mobile li a {
      color: #ccc; }
    nav.mobile li.active {
      background: #3a3a3a; }

#feature {
  text-align: center;
  background: url("../images/home-feature-bak-60.jpg");
  height: 596px;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;*/
  /*padding: 50px;*/ }
  @media (max-width: 992px) {
    #feature {
      /*width: 100%;*/
      height: auto; } }
  #feature h3 {
    font-size: 19px;
    line-height: 30px;
    /*letter-spacing: 1px;
    font-weight: normal;*/
    padding: 55px 0 58px 0;
    margin: 0 auto;
    width: 800px; }
    @media (max-width: 992px) {
      #feature h3 {
        padding: 35px 0 38px 0;
        width: 90%;
        font-size: 16px;
        line-height: 27px; } }
  #feature img {
    /*max-width: 751px;
    align-self: flex-end;*/ }
    @media (max-width: 992px) {
      #feature img {
        padding: 0 10px; } }

#benefits {
  /*background: url('../images/home-benefits-bak-60.jpg') no-repeat center center;*/
  background: url("../images/home-benefits-bak-60.jpg");
  height: 598px;
  display: flex;
  justify-content: center;
  color: #484848; }
  @media (max-width: 992px) {
    #benefits {
      /*width: 100%;*/
      height: auto;
      flex-direction: column;
      text-align: center;
      /*background: url('../images/home-benefits-bak-60.jpg');*/ } }
  #benefits .benefits-container {
    width: 310px;
    margin: 95px 25px 0; }
    @media (max-width: 992px) {
      #benefits .benefits-container {
        margin: 35px auto 0 auto;
        width: 90%; } }
    #benefits .benefits-container h2 {
      font-size: 36px;
      line-height: 42px;
      color: #484848;
      margin: 0 0 35px;
      padding: 0; }
      @media (max-width: 992px) {
        #benefits .benefits-container h2 {
          font-size: 30px;
          line-height: 32px;
          margin: 0 0 20px; } }
    #benefits .benefits-container p {
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 40px; }
      @media (max-width: 992px) {
        #benefits .benefits-container p {
          font-size: 16px;
          line-height: 26px;
          margin: 0 0 25px; } }
  #benefits .benefits-img-container {
    align-self: flex-end; }
    #benefits .benefits-img-container img {
      /*max-width: 665px;*/ }
      @media (max-width: 992px) {
        #benefits .benefits-img-container img {
          padding: 20px 10px 0; } }

#tech-specs {
  background: url("../images/tech-60.jpg");
  height: 600px;
  display: flex;
  /*justify-content: space-between;*/ }
  @media (max-width: 992px) {
    #tech-specs {
      flex-direction: column;
      height: auto;
      text-align: center; } }
  #tech-specs .tech-img-container {
    margin-top: 75px; }
    @media (max-width: 992px) {
      #tech-specs .tech-img-container {
        margin: 35px 20px 0 0; } }
    #tech-specs .tech-img-container img {
      /*max-width: 598px;*/ }
  #tech-specs .tech-container {
    width: 360px;
    margin: 95px 25px 0 80px; }
    @media (max-width: 992px) {
      #tech-specs .tech-container {
        width: 90%;
        margin: 35px auto 0 auto; } }
    #tech-specs .tech-container h2 {
      font-size: 36px;
      line-height: 32px;
      margin: 0 0 35px;
      padding: 0;
      color: #9c9c9c; }
      #tech-specs .tech-container h2 strong {
        color: #fff; }
      @media (max-width: 992px) {
        #tech-specs .tech-container h2 {
          font-size: 30px;
          line-height: 32px;
          margin: 0 0 20px; } }
    #tech-specs .tech-container p {
      font-size: 19px;
      line-height: 28px;
      color: #b8b7b7;
      margin-bottom: 45px; }
      @media (max-width: 992px) {
        #tech-specs .tech-container p {
          font-size: 16px;
          line-height: 26px;
          margin: 0 0 25px; } }
    @media (max-width: 992px) {
      #tech-specs .tech-container .but {
        margin-bottom: 40px; } }

#media {
  background: url("../images/home-media-bak.jpg");
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /*align-items: flex-end;*/
  justify-content: space-between; }
  @media (max-width: 992px) {
    #media {
      height: auto;
      /*margin: 35px auto 0 auto;*/ } }
  #media .media-container {
    width: 510px;
    margin: 0 auto; }
    @media (max-width: 992px) {
      #media .media-container {
        width: 90%;
        margin: 35px auto 0 auto; } }
    #media .media-container h2 {
      font-size: 36px;
      line-height: 32px;
      margin: 65px 0 25px;
      color: #7a7a7a; }
      @media (max-width: 992px) {
        #media .media-container h2 {
          font-size: 30px;
          line-height: 32px;
          margin: 0 0 20px; } }
    #media .media-container p {
      font-size: 19px;
      line-height: 28px;
      color: #626262;
      margin-bottom: 30px; }
    #media .media-container .but {
      margin: 0 auto; }
      @media (max-width: 992px) {
        #media .media-container .but {
          margin-bottom: 25px; } }
  #media .media-img-container {
    /*height: 100%;
    align-self: flex-end;*/ }
    @media (max-width: 992px) {
      #media .media-img-container {
        padding: 0 10px; } }
    #media .media-img-container img {
      vertical-align: bottom; }

#region {
  background: url("../images/home-region-bak.jpg");
  height: 600px;
  display: flex;
  padding: 95px 0 0 135px; }
  @media (max-width: 992px) {
    #region {
      height: auto;
      padding: 35px 0;
      /*background:  rgba(0,0,0,0.9) url('../images/home-region-bak.jpg') no-repeat center center;*/
      /*background-color: rgba(0,0,0,0.9);*/
      background-image: none; } }
  #region .region-container {
    width: 380px;
    /*margin: 0 0 0 0;*/
    /*margin: 95px 0 0 145px;*/ }
    @media (max-width: 992px) {
      #region .region-container {
        width: 90%;
        margin: 0 auto;
        text-align: center; } }
    #region .region-container h2 {
      font-size: 36px;
      line-height: 32px;
      color: #b8b7b7;
      margin: 0 0 35px;
      padding: 0; }
      @media (max-width: 992px) {
        #region .region-container h2 {
          font-size: 30px;
          line-height: 32px;
          margin: 0 0 20px; } }
    #region .region-container p {
      font-size: 19px;
      line-height: 28px;
      color: #b8b7b7;
      margin-bottom: 60px; }
      @media (max-width: 992px) {
        #region .region-container p {
          font-size: 16px;
          line-height: 26px;
          margin: 0 0 25px; } }

footer {
  background: url("../images/foo-60.jpg") no-repeat center center;
  height: 220px;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #5f5d5d; }
  @media (max-width: 768px) {
    footer {
      height: auto; } }
  @media (max-width: 992px) {
    footer {
      /*height: auto;*/ } }
  footer p {
    line-height: 20px;
    margin: 0;
    padding: 10px 0; }
    @media (max-width: 992px) {
      footer p {
        width: 80%;
        margin: 0 auto;
        text-align: center; } }
  footer li a, footer li a:hover {
    color: #5f5d5d; }
  footer li + li:before {
    content: ' | ';
    color: #5f5d5d; }
    @media (max-width: 992px) {
      footer li + li:before {
        content: '|'; } }
  footer .logos-container {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px; }
    footer .logos-container .logo-gtx img {
      max-width: 104px;
      margin-right: 15px; }
    footer .logos-container .logo-bro img {
      max-width: 81px; }
  @media (max-width: 992px) {
    footer .foo-menu {
      display: none; } }
  footer .foo-bro {
    text-transform: uppercase;
    font-size: 12px; }
    @media (max-width: 992px) {
      footer .foo-bro {
        font-size: 10px; } }

#the-content {
  background: url("../images/int-bak-full.jpg"); }
  #the-content h1, #the-content h2, #the-content h3, #the-content h5, #the-content h6 {
    color: #000; }

.ben-benefits {
  /*padding: 20px 100px;*/
  /*padding-top: 50px;*/
  /*display: flex;*/
  /*justify-content: space-around;*/
  padding: 50px 80px; }
  @media (max-width: 992px) {
    .ben-benefits {
      padding: 50px 30px; } }
  .ben-benefits h2 {
    padding: 0 0 30px 0;
    margin: 0; }
    @media (max-width: 992px) {
      .ben-benefits h2 {
        text-align: center;
        padding: 0 15px 30px 15px; } }
  .ben-benefits p {
    line-height: 30px;
    font-size: 17px; }
    @media (max-width: 992px) {
      .ben-benefits p {
        text-align: center; } }
  .ben-benefits .ben-benefits-item {
    /*padding: 20px 50px 20px 80px;*/ }
  .ben-benefits .ben-benefits-container {
    padding-right: 60px; }
    @media (max-width: 992px) {
      .ben-benefits .ben-benefits-container {
        padding: 0 20px; } }
    .ben-benefits .ben-benefits-container h2 {
      margin: 0;
      padding: 0 0 25px; }
    .ben-benefits .ben-benefits-container p {
      margin: 0;
      padding-bottom: 50px; }
    @media (max-width: 992px) {
      .ben-benefits .ben-benefits-container img {
        margin-bottom: 40px; } }
  .ben-benefits .ben-benefits-form-container {
    background-color: #1c1d1d;
    border-radius: 5px;
    margin: 0;
    padding: 15px;
    text-align: left; }
    .ben-benefits .ben-benefits-form-container h4 {
      font-size: 20px;
      color: #dfdfdf;
      font-weight: 700;
      border-bottom: 1px solid #444;
      margin: 0 0 15px;
      padding: 0 0 10px; }
    .ben-benefits .ben-benefits-form-container .form-group {
      margin-bottom: 5px; }
    .ben-benefits .ben-benefits-form-container .form-control {
      border-radius: 2px; }
      .ben-benefits .ben-benefits-form-container .form-control::placeholder {
        color: #10accf; }
    .ben-benefits .ben-benefits-form-container .btn {
      border-radius: 2px; }
      .ben-benefits .ben-benefits-form-container .btn span {
        margin-left: 70px; }
        .ben-benefits .ben-benefits-form-container .btn span.region-btn {
          margin-left: 15px; }
    .ben-benefits .ben-benefits-form-container .btn-default {
      color: #fff;
      background: #10accf;
      border: none;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 5px 10px 5px 15px; }

.the-txt {
  color: #c8c9cc;
  font-size: 18px; }
  .the-txt .ben-hea h3 {
    width: 100%;
    color: #eaeaea;
    background: url("../images/ben-fea3-bak.jpg");
    height: 52px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 16px 0 0;
    font-size: 22px;
    font-weight: 500; }
  .the-txt .ben-btn {
    position: relative;
    margin-top: 40px;
    /*width: 370px;*/
    width: 90%;
    background: #232323;
    padding: 10px 10px 10px 20px; }
    .the-txt .ben-btn a {
      color: #e8e8e8;
      font-size: 20px;
      /*width: 200px;*/
      font-weight: 500;
      height: 100%; }
      .the-txt .ben-btn a i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #a70e0f;
        color: #c5c5c5;
        margin: 2px;
        float: right;
        /*height: 100%;*/ }
  .the-txt .txt-left {
    display: flex;
    justify-content: center;
    /*padding: 100px 150px;*/
    padding: 60px 0; }
    @media (max-width: 992px) {
      .the-txt .txt-left {
        display: block; } }
    .the-txt .txt-left h3 {
      color: #d2d2d2; }
    .the-txt .txt-left p {
      color: #c8c9cc; }
    .the-txt .txt-left .lft-container {
      width: 35%;
      margin-right: 30px; }
      @media (max-width: 992px) {
        .the-txt .txt-left .lft-container {
          width: 80%;
          margin: 0 0 0 50px; } }
    .the-txt .txt-left .rgt-container {
      width: 35%;
      margin-left: 30px; }
      @media (max-width: 992px) {
        .the-txt .txt-left .rgt-container {
          width: 80%;
          margin: 0 50px 0 0; } }
  .the-txt .txt-right {
    display: flex;
    justify-content: center;
    /*padding: 100px 150px;*/
    padding: 60px 0; }
    @media (max-width: 992px) {
      .the-txt .txt-right {
        display: block; } }
    .the-txt .txt-right h3 {
      color: #484848; }
    .the-txt .txt-right p {
      color: #343131; }
    .the-txt .txt-right .lft-container {
      width: 35%;
      margin-left: 30px; }
      @media (max-width: 992px) {
        .the-txt .txt-right .lft-container {
          width: 80%;
          margin: 0 0 0 50px; } }
    .the-txt .txt-right .rgt-container {
      width: 35%;
      margin-right: 30px; }
      @media (max-width: 992px) {
        .the-txt .txt-right .rgt-container {
          width: 80%;
          margin: 0 0 0 50px; } }

#ben-do-more {
  background: url("../images/ben-fea2-bak.jpg"); }
  #ben-do-more li {
    font-size: 15px; }

#ben-step1 {
  background: url("../images/ben-fea4-bak.jpg"); }

#ben-step2 {
  background: url("../images/ben-fea5-bak.jpg"); }

#ben-step3 {
  background: url("../images/ben-fea6-bak.jpg");
  display: flex;
  justify-content: flex-start; }
  @media (max-width: 992px) {
    #ben-step3 {
      display: block; } }
  #ben-step3 .lft-container {
    width: 50%;
    text-align: left;
    padding-left: 0;
    margin-left: 0; }
    @media (max-width: 992px) {
      #ben-step3 .lft-container {
        width: 80%;
        margin: 0 0 0 50px; } }
  #ben-step3 .rgt-container {
    width: 35%;
    margin-left: 60px;
    margin-right: 30px; }
    @media (max-width: 992px) {
      #ben-step3 .rgt-container {
        width: 80%;
        margin: 0 0 0 50px; } }

#ben-step4 {
  background: url("../images/ben-fea8-bak.jpg"); }

.ben-benefits.media {
  margin-bottom: 40px; }
  @media (max-width: 992px) {
    .ben-benefits.media {
      /*width: 90%;*/ } }
  .ben-benefits.media .align-bottom {
    margin-top: 38px; }
    .ben-benefits.media .align-bottom .learn {
      font-size: 18px;
      font-weight: 700;
      color: #fff; }
      .ben-benefits.media .align-bottom .learn a {
        color: #fff; }
      .ben-benefits.media .align-bottom .learn h5 {
        background-color: #10accf;
        color: #fff !important;
        font-size: 18px;
        font-weight: 700;
        margin: 2px 0;
        padding: 15px; }
        @media (max-width: 992px) {
          .ben-benefits.media .align-bottom .learn h5 {
            /*padding: 65px;*/ } }
      .ben-benefits.media .align-bottom .learn ul {
        list-style: none;
        margin: 0 0 8px;
        padding: 0; }
      .ben-benefits.media .align-bottom .learn li {
        background: #232323;
        margin: 2px 0;
        padding: 15px;
        position: relative; }
        .ben-benefits.media .align-bottom .learn li span {
          position: absolute;
          width: 40px;
          height: 50px;
          top: 2px;
          right: 1px;
          background: #0e0e0e;
          text-align: center;
          color: #8c8888; }
        .ben-benefits.media .align-bottom .learn li span.glyphicon {
          /*padding: 8px 8px;
          margin: 0 !important;*/
          padding-top: 14px; }
  .ben-benefits.media .watch {
    font-size: 18px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 992px) {
      .ben-benefits.media .watch {
        text-align: center; } }
    .ben-benefits.media .watch h5 {
      background-color: #e2383c;
      color: #fff !important;
      font-size: 18px;
      font-weight: 700;
      margin: 2px 0;
      padding: 10px 15px;
      width: auto; }
    .ben-benefits.media .watch img {
      margin: 2px 0; }

.ben-benefits.region {
  text-align: center;
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .ben-benefits.region {
      padding-bottom: 60px; } }
  .ben-benefits.region h2 {
    font-size: 37px;
    padding-bottom: 15px; }
  .ben-benefits.region p {
    width: 550px;
    margin: 0 auto;
    padding-bottom: 60px; }
    @media (max-width: 992px) {
      .ben-benefits.region p {
        width: 90%; } }
  .ben-benefits.region .ben-benefits-container {
    padding-right: 10px !important; }

.modal-content {
  background: #1c1d1d;
  width: 300px;
  height: 220px;
  color: #dfdfdf;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px !important; }
  .modal-content.lang {
    width: 440px;
    height: 440px; }
    .modal-content.lang ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 28px; }
      .modal-content.lang ul li {
        padding: 0;
        margin: 0; }
    .modal-content.lang a {
      color: #dfdfdf; }

.modal-header {
  border-bottom: 1px solid #444545;
  font-size: 20px;
  /*h4 i {
    height: 14px;
    width: 14px;
    background: red;
  }*/ }
  .modal-header .modal-title img {
    margin: 0 4px 2px; }
  .modal-header .close {
    color: #fff; }

.modal-footer {
  border-top: 1px solid #444545; }

.map-na a {
  color: #0089c5; }

.map-asia a {
  color: #c5d400; }

.map-eu a {
  color: #00cda4; }

.map-aus a {
  color: #006c29; }

.map-sa a {
  color: #00bfe5; }

/*.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: red;
  float: none;
  !* width and height can be anything, as long as they're equal *!
}*/
.specs-container {
  background-color: #e2e2e2; }
  .specs-container h3 {
    width: 100%;
    color: #eaeaea;
    background: url("../images/ben-fea3-bak.jpg");
    height: 52px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 16px 0 0;
    font-size: 22px;
    font-weight: 500; }
  .specs-container .spec-container {
    border-bottom: 2px solid #d4d3d3 !important;
    display: flex;
    padding: 50px 140px;
    text-align: left; }
    @media (max-width: 992px) {
      .specs-container .spec-container {
        display: block;
        text-align: center; } }
    .specs-container .spec-container div {
      margin: 0;
      padding: 0; }
    .specs-container .spec-container .spec-sm {
      font-size: 13px;
      line-height: 18px;
      margin-right: 50px;
      margin-top: 10px;
      color: #4d4d4f; }
    .specs-container .spec-container .spec-item {
      width: 30%;
      flex: none;
      font-size: 25px;
      line-height: 30px;
      font-weight: 100;
      color: #77787b;
      margin: 2px 0 0 0;
      padding: 0; }
      @media (max-width: 992px) {
        .specs-container .spec-container .spec-item {
          width: 50%;
          padding-bottom: 20px; } }
    .specs-container .spec-container .spec-data {
      width: 70%;
      flex: none;
      color: #4d4d4f;
      margin: 0;
      padding: 0; }
      @media (max-width: 992px) {
        .specs-container .spec-container .spec-data {
          width: 50%; } }
      .specs-container .spec-container .spec-data img {
        display: block;
        padding-top: 20px; }
        .specs-container .spec-container .spec-data img.no-p {
          padding-top: 0; }
      .specs-container .spec-container .spec-data .platen-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center; }
        @media (max-width: 992px) {
          .specs-container .spec-container .spec-data .platen-container {
            display: block; } }
        .specs-container .spec-container .spec-data .platen-container .platen h5 {
          font-size: 24px;
          color: #4d4d4f; }
        .specs-container .spec-container .spec-data .platen-container .platen div.spec-sm {
          margin-left: auto;
          margin-right: auto; }
        .specs-container .spec-container .spec-data .platen-container .platen img {
          text-align: center;
          padding: 0;
          margin: 0 auto; }
        @media (max-width: 992px) {
          .specs-container .spec-container .spec-data .platen-container .platen {
            margin-bottom: 40px; } }

.swiper-container {
  width: 80%;
  height: 190px; }
  .swiper-container .swiper-button-prev {
    top: 20%; }
  .swiper-container .swiper-button-next {
    top: 20%; }

.chev {
  position: relative;
  width: 100%; }
  .chev .chev-left {
    position: absolute;
    top: 30px;
    left: -30px; }
  .chev .chev-right {
    position: absolute;
    top: 30px;
    right: 100px; }

/*body#benefits {

  section#ben-benefits {
    background: url('../images/ben-fea1-bak.jpg') no-repeat center center;*/
/* }*/
/*
}*/

/*# sourceMappingURL=style.css.map */
