
@font-face {
  font-family: 'Helvetica Neue Bold', sans-serif;
  src: url('fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
  url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTStd-Bd.svg#hallmark-icons') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue', sans-serif;
  src: url('fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
  url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTStd-Roman.svg#hallmark-icons') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue Thin', sans-serif;
  src: url('fonts/HelveticaNeueLTStd-Th.eot');
  src: url('fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
  url('fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTStd-Th.svg#hallmark-icons') format('svg');
  font-weight: 100;
}

@font-face {
  font-family: 'Helvetica Neue Light', sans-serif;
  src: url('fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
  url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTStd-Lt.svg#hallmark-icons') format('svg');
  font-weight: 100;
}

